{% extends "layout.html" %}
{% block content %}
{% load staticfiles %}
{% load rms_extras %}

    <h2 class="text-center"> Gericht erstellen</h2>

    <div id="Texteingabe" class="center_div2">
        {% if form.errors %}
        <div class="alert alert-danger">
            <strong>{{ form.errors }}</strong>
        </div>
        {% endif %}

        <form action="{% url 'erstelle_gerichter' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>Name des Gerichts: {{ form.gericht_name }}</p>
            <p>Beschreibung: {{ form.beschreibung }}</p>
            <p>Kategorie: {{ form.kategorie }}</p>
            <p>Photo: {{ form.photo }}</p>
            <br>
            <input type="submit" value="Submit" />
        </form>
    </div>

{% endblock %}

