{% extends "layout.html" %}
{% block content %}
{% load staticfiles %}
{% load rms_extras %}
    <div class="container jumbotron">
        <h2 class="text-center">{{ gericht }} al la bla bla bla bla bla bla bla blab bla</h2>
        <br>
        <h3 class="text-center"> Kategorie: {{ gericht.kategorie.kategorie_name }}</h3>
        <br>
        <img  class="img-responsive center-block" src="{{ gericht.pk| gib_photo_string }}">
        <br>

        <p>{{ gericht.beschreibung }}</p>
    </div>

{% endblock %}

