{% extends "rms_app/layout.html" %}
{% block content %}
<br><br><br>

{% if form.errors %}
<p><font color = "#FF0000">
    Your username and password didn't match. Please try again.</font></p>
{% endif %}

{% if error %}
    <div class="alert alert-danger">
  <strong>{{ error }}</strong>
</div>
{% endif %}
<form method="post" action="">
{% csrf_token %}
<table>
<tr>
    <td>Benutzername</td>
    <td>{{ form.username|attr:'autofocus' }}</td>
</tr>
<tr>
    <td>Passwort</td>
    <td>{{form.password}}</td>
</tr>
<tr>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
</tr>
<tr>
    <td><input type="hidden" name="next" value="{{ next }}" /></td>
    <td><button class="btn btn-primary" type="submit" value="login"> Login </button></td>
</tr>
</table>
</form>

{% endblock %}
