{% extends "layout.html" %}
{% block content %}
{% load staticfiles %}
{% load rms_extras %}

    <div class="row">
        {% for gericht in gerichte %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 " style="padding: 5px;" id="{{forloop.counter}}">
                <div class="hovereffect">
                    <img  class="img-responsive center-block" src="{{ gericht.pk| gib_photo_string}}">
                    <div class="overlay">
                        <h2>{{ gericht }}</h2>
                        <a class="info" href="{% url 'zeige_gericht' gericht_id=gericht.pk  %}">link here</a>
                        </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

